{% extends "base.html" %}
{% block content %}
<div class="container p-5" style="padding-bottom: 7rem !important;">
    <h2>Addresses ({{address.count}})</h2>
    <hr class="mb-5">
    <div class="row">
        {% for post in address %}

        <div class="col-md-12 m-2" style="background-color: rgba(0,0,0,0.3);">
            <div class="row p-2">
                <div class="col-md-6">

                    <h2 class="mt-5"><a class="article-title"
                            href="{% url 'core:address-detail' post.id %}">{{ post.user }}</a>
                    </h2>

                </div>
                <div class="col-md-6 mt-5">
                    <div style="float: right">
                        <a class="btn update-btn text-white btn-md mt-1 mb-1"
                            href="{% url 'core:address-update' post.id %}"
                            style="border:2px solid #ED8095; color:#ED8095">Update</a>
                        <Br>
                        <a class="btn delete-btn text-white btn-md mt-1 mb-1"
                            href="{% url 'core:address-delete' post.id %}"
                            style="border:2px solid #ED8095; color:#ED8095">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}