{% extends "base.html" %}
{% block content %}
<div class="container p-5" style="padding-bottom: 7rem !important;">
    <div class="row">
        <div class="col-md-8">
            <h2>Refund Application</h2>
            <form class="mt-5">
                <div class="form-row">
                    <div class="col">
                        <div class="md-form mt-0">
                            <label>Order from</label>
                            <input type="text" id="inputSMEx" disabled value="{{object.order}}"
                                class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form mt-0">
                            <label>Reason</label>
                            <input type="text" id="inputSMEx" disabled value="{{object.reason}}"
                                class="form-control form-control-sm">
                        </div>
                    </div>

                </div>
                <div class="form-row mt-5">
                    <div class="col">
                        <div class="md-form mt-0">
                            <label>Email</label>
                            <input type="text" id="inputSMEx" disabled value="{{object.email}}"
                                class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form mt-0">
                            <label>Is Accepted</label>
                            <input type="text" id="inputSMEx" disabled value="{{object.accepted}}"
                                class="form-control form-control-sm">
                        </div>
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>
{% endblock content %}