{% extends "base.html" %}

{% block content %}
<main>
    <div class="container text-white mb-5">
        <h1 class="mt-4 mb-4 text-center" style="color: #ED8095; font-weight: 700; letter-spacing: 3px; font-family: 'Liu Jian Mao Cao', cursive;
        font-size: 6em;">Favorites</h1>
        <hr style="border-top: 1px solid #FFFFFF;">

        <div class="mb-5">
            {% for item in items %}
            <div class="card mb-3 w-100" style="background:#161a32;">
                <div class="row no-gutters">
                    <div class="col-md-2 view overlay">
                        <img src="{{ item.image.url }}" class="card-img-top">
                        <a href="{{ item.get_absolute_url }}">
                            <div class="mask rgba-white-slight" style="margin-top: -4px;">
                                <span>
                                    {% if item.get_label_display == "New" %}
                                    <span class="badge bg-secondary">{{item.get_label_display}}</span>
                                    {% elif item.get_label_display == "Hot Seller" %}
                                    <span class="badge" style="background: #EDADCE;">{{item.get_label_display}}</span>
                                    {% elif item.get_label_display == "Sale" %}
                                    <span class="badge" style="background: #ED8095;">{{item.get_label_display}}</span>
                                    {% else %}
                                    <span class="badge bg-Secondary">New</span>
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-left">
                            <a href="">
                                <h6 style="color: #FFFFFF;">{{ item.get_category_display }}</h6>
                            </a>
                            <h5>
                                <strong>
                                    <a href="{{ item.get_absolute_url }}"
                                        style="color: #FFFFFF; font-size: 1.5em;">{{ item.title }}
                                    </a>
                                </strong>
                            </h5>
                            <a href="{% url 'core:fav_update' slug=item.slug %}">
                                <i class="fas fa-heart float-right"
                                    style="margin-top: -30px;font-size: 2em;color: #F3B2D3; -webkit-text-stroke: 4px #ED8095; "></i>
                            </a>
                            <p>Currently: {% if item.get_stock_display == "In Stock" %}
                                <span class="badge" style="background: #50c878;">{{item.get_stock_display}}</span>
                                {% elif item.get_stock_display == "Limited Edition" %}
                                <span class="badge" style="background: #f8de7e;">{{item.get_stock_display}}</span>
                                {% elif item.get_stock_display == "Out of Stock" %}
                                <span class="badge" style="background: #ea3c53;">{{item.get_stock_display}}</span>
                                {% else %}
                                <span class="badge" style="background: #50c878;">In Stock</span>
                                {% endif %}</p>
                            <p class="lead font-weight-bold">Description</p>

                            <p>{{ item.description }}</p>
                            <h4 class="font-weight-bold" style="color: #ED87BB;">
                                <strong>$
                                    {% if item.discount_price %}
                                    {{ item.discount_price }}
                                    {% else %}
                                    {{ item.price }}
                                    {% endif %}
                                </strong>
                            </h4>

                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="ml-3">You don't have any favorite products.</p>
            <a class='btn text-white float-right' style="background: #ED87BB;" href="{% url 'core:shop' %}">Continue
                shopping</a>

            {% endfor %}
        </div>


    </div>
</main>

{% endblock content %}