{% extends "base.html" %}
{% load random_quote %}
{% block extra_head %}
<style>
  .icon-bar {
    position: fixed;
    top: 40%;
    z-index: 1000 !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    background: transparent;
    font-size: 20px;
  }

  .icon-bar a:hover {
    background-color: transparent;
    color: #ED8095;
  }

  .content {
    margin-left: 75px;
    font-size: 30px;
  }

  .about-h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    height: auto;
    font-size: 10vh;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    color: white;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: linear-gradient(45deg,
        #ED8095,
        #AD5E6D,
        #F3B2D3,
        #FFFFFF);
    margin-bottom: 100px;
  }

  .main-xanny {
    color: #ED8095;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 11em;
  }

  @media(max-width: 800px) {
    .about-h1 {
      font-size: 5vh;
      margin-bottom: 150px;
    }

  }

  @media(max-width: 600px) {
    .main-xanny {
      font-size: 6em;
    }
  }
</style>
{% endblock %}
{% block content %}

<main class="fadeIn">
  <div class="icon-bar">
    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
    <a href="#" class="google"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="container-fluid">

    <div class="view">
      <img src="https://i.pinimg.com/originals/69/4f/8a/694f8a02a9533471b7abdb9b5a5c1928.jpg"
        style="height: 80vh;clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);"
        class="mx-auto d-block mt-1 mb-5" />
      <div class="mask flex-center">
        <h1 class="main-xanny">XANNYS</h1>
      </div>
    </div>

    <div class="container-fluid  justify-content-md-center">
      <div class="row mt-5 mb-5  justify-content-md-center">
        {% for every in object_list %}
        <div class="col-sm-4 mt-5 mb-5 p-auto">
          <!--Zoom effect-->
          <a href="{{ every.slug }}">
            <div class="view overlay">
              <img src=" {{ every.image.url }}" class="rounded mx-auto d-block" style="max-height: 80vh;" alt="zoom">
              <div style="  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);"></div>
              <div class="mask flex-center waves-effect waves-light">
                <a href="{{ every.slug }}">
                  <h1 style="color: #FFFFFF; font-weight: 900; transform: rotate(90deg); letter-spacing: 1px; font-family: 'Black Ops One', cursive;
            font-size: 5em;">{{ every.name }}</h1>
                </a>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}

      </div>
    </div>

    <div class="container mt-5 mb-5">
      <h1 class="about-h1"><span>❝</span>{% random_quote %}<span>❞</span></h1>
    </div>

  </div>
</main>

{% endblock content %}